<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<h1>>, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <h1>About Grumpy Cat</h1>
    <p>"Grumpy Cat is very grumpy....Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt ex expedita sunt praesentium, excepturi nostrum enim mollitia fuga blanditiis dolores quidem quae voluptatibus distinctio rerum perspiciatis, dolor facilis. Illum, placeat.</p>
</body>
</html>